* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
    font-weight: lighter;       
   /*border: 0.5px solid red; */
}
h3 {
    font-weight: bold;    
}
body {
    flex-direction: column;
    display: flex;
    width: 100%;
}
header {
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: auto;     
}
header h1 {        
    width: 100%; 
    font-size: xxx-large;    
    text-align: center;
    padding: 10vh;   
}
header img{  
    width: 100%;
    margin-top: 10vh;
}

/* ************************ MENU ********************************/
nav {
    display: flex;
    justify-content: flex-end;        
    width:100%;
    height: auto;
    background-color: rgb(39, 39, 39);
    margin-left: auto; 
}

a {        
    display: flex;
    flex-wrap: wrap;
    align-content: center;   
    justify-content: center;     
    margin: 5px;
    margin-right: auto;
    font-size: 1.2em;
    box-shadow: 5px 5px 2px  rgba(0, 0, 0, 0.469);
    background-color: rgb(60, 122, 193);
    border: 0.5px solid black;  
    border-radius: 1em; 
    color: white;
    padding: 5px;
    width: 10em;    
    text-decoration:none;
}

a[href="#"] {
    background-color: green;
}

#banner {       
    display: flex;
    width: 100%; 
    border: 0.5px solid black; 
    padding: 5px;
    justify-content: center;     
}

.events {    
    max-width: 70%;
    display: flex;   
    flex-wrap: wrap;
    flex-direction: column;     
    gap: 0.7em;  
    margin-top: -11em;
    padding: 0;
    margin-left: 10em;
    margin-bottom: 3em;
    align-content: start;
    align-items: flex-start;
    justify-content: start;    
}

#logo {       
   display: flex; 
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   margin-top: 3em;
   width: 150px;      
}

/* Hockey img on footer */
#hockey1, #hockey2, #hockey3 {
    display: flex;    
    max-width: 25em;    
    margin-bottom: 2em; 
    margin: auto;  
}
.email {      
    font-size: large;    
    display: flex;    
    max-width: 100%;    
    margin-left: 36.5vw;    
    margin-top: -7.5em;
    align-items: center;       
    padding: 0.7em;    
}

.response {   
    font-size: large;
    display: flex;
    max-width: 100%;
    margin-left:35vw;   
    padding-left: 0.7em;
    padding-bottom: 3em;   
}

a[href="mailto:mdhl@chihockey.org"] {    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    font-size: 1em;
    background-color: white;
    text-decoration: underline black;
    color: rgb(61, 162, 229);
    box-shadow: none;
    border: 0;
    padding: 0;     
}

/* About Section */
.about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;       
    align-content: center;    
    margin-top: -0em;
    
}

/* About Page text */
.about article {
    display: flex;
    flex-direction:column;       
    width: 75%;   
    margin-top: -0em;
    margin-left: 0em;
    gap: 0em;  
    margin-bottom: 2em;          
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    margin-top: -12em;
}
/* Game Info Section */
.gamedisclosure, .scheduletitle {
    max-width: 90%;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 0.6em;   
    padding: 0.5rem;      
}
.info-text {        
    
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}

#gametable {       
    width: 90%;
    height: auto;
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;    
    margin: auto;   
    margin-top: 2em;   
}

td, th {    
    justify-self: center;
    flex-wrap: wrap;
    width: 15vw ;   
    border-collapse: collapse;
    text-align: center;
    padding: 0px;
    padding-bottom: 1.3rem; 
  }

th {    
    font-weight: bold;
}

.titlerules {      
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;      
}

.rulessubtitle {
    font-size: 1.2em;    
    display: flex;
    justify-content: center;    
}

.introrules {        
    max-width: 90%;          
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 6em;       
    gap: 0.3em;   
}
.introrules h2 {   
    font-weight: bold;    
}

.onebulletlist {
    font-size: 1.2em;
    list-style-type: none;  
    text-indent: 2em;    
    margin-bottom: 1em;
}
.onebulletlist2 {      
    font-size: 1.2em;   
    list-style-type: circle;       
    margin-left: 5em;
    margin-bottom: 2em;
}

.ruleslist {    
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    align-items: center;   
    padding-top: 1.5em;    
    margin: auto; 
    gap: 1em; 
}

.letterlist {   
    list-style-type:lower-alpha ;
}